/*Importação de fontes*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital,wght@0,900;1,300;1,400;1,900&family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,900;1,100&family=Open+Sans:ital,wght@0,400;1,300;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,400;1,500;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
}

:root {
    --CorPrimaria: #013A40;
    --CorSecundaria: #037F8C;
    --CorAzulNeutra: #7ED0D9;
    --VerdeCordePeido: #03A696;
    --MarronCorPalida: #D99962;
    --LaranjaManeirinho: #F58400;
}

body {
    font-family: "Poppins";
    font-size: 14px;
}

.content {
    /*centralizando a div*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 100vh;
}

.card {
    background-color: var(--CorSecundaria);
    color: var(--CorAzulNeutra);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 25%;

}

.counter{
    font-size: 180px;
    font-weight: 500;
    text-align: center;
}

.bottonCard {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content:space-around;
    padding: 10%;
    
}

.topCard {
    padding-top: 20px;
    text-align: center;
    color: var(--CorAzulNeutra);
    font-size: 24px;

}

.topCard span {
    font-size: 14px;
}

button {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 45px;
    width: 145px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-weight: 700;
    font-family: 'poppins';
    color: var(--CorPrimaria);
    background-color: var(--CorAzulNeutra);
}

button:hover {
    background-color: var(--CorPrimaria);
    color: var(--CorAzulNeutra);
    cursor: pointer;
   

}

#menos{
    padding-left: 5px;
    height: 35px;
    
}

#mais{
    padding-left: 8px;
    padding-right: 3px;
    height: 28px;
}
